@import '../vars';
@import '../breakpoints';

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mediaMax(md){
    br{
      display: none;
    }
  }

  @include mediaMin(md){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include mediaMin(xl){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}