@import '../vars';
@import '../breakpoints';

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mediaMin(xl){
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto) 10.1rem auto;
  }

  @include mediaMin(xxl){
    grid-template-rows: repeat(2, auto) 10.1rem auto;
  }

}

.card{

  &_inline{
    display: flex;
    gap: 2.5rem;
    flex-direction: column;

    @include mediaMin(md){
      flex-direction: row;
    }
  }
  
  position: relative;
  padding: 2rem 2.5rem;

  &#ra .list{
    overflow-y: auto;
    max-height: 34rem;
  }

  @include mediaMin(xl){
    &#ci_1{
      grid-column: 1 / span 12;
    }
    &#ci_2{
      grid-column: 1 / span 12;
    }
    &#qm{
      grid-column: 1 / span 6;
      grid-row: 3;
    }
    &#nf{
      grid-column: 7 / span 6;
      grid-row: 3;
    }
    &#ht{
      grid-column: 1 / span 7;
      grid-row: 4 / span 2;
    }
    &#hi{
      grid-column: 8 / span 5;
      grid-row: 4;
    }
    &#ra{
      grid-column: 8 / span 5;
      grid-row: 5;

      .list{
        max-height: 51rem;
      }
    }
  }

  @include mediaMin(xxl){
    &#ci_1{
      grid-column: 1 / span 6;
    }
    &#ci_2{
      grid-column: 7 / span 6;
    }
    &#qm{
      grid-row: 2;
    }
    &#nf{
      grid-row: 2;
    }
    &#ht{
      grid-row: 3 / span 2;
    }
    &#hi{
      grid-row: 3;
    }
    &#ra{
      grid-row: 4;
    }
  }

  .title{
    font-weight: 700;
    font-size: 2.2rem;
    color: $color-primary;
    margin-bottom: 1.5rem;
  }

  p{
    color: $color-text-75;
  }

  &_img{
    position: absolute;
    top: 2rem;
    right: 2.5rem;
  }
  
}

#word_cloud{
  text{
    font-family: $font !important;
    transition: font-weight .25s ease;
    &:hover{
      cursor: pointer;
      font-weight: 700 !important;
    }
  }
}